.hiveon-header {

  background: linear-gradient(
    183deg,
    $hiveon-dark-color 0%,
    rgba($hiveon-secondary-color, .1) 55%,
    rgba($hiveon-secondary-color,  0) 90%
  );
  padding-top: 140px;
  @media screen and (max-width: $break-small) {
    padding: 90px 10px 10px 10px;
  }
  .wrap {
    display: flex;
    @media screen and (max-width: $break-small) {
      flex-direction: column-reverse;
    }
  }

  &__title {
    width: 35%;
    opacity: 0.95;

    @media screen and (max-width: $break-small) {
      width: 100%;
      padding: 15px 15px 0 15px;
    }

    h2 {
      font-size: 36px;
      line-height: 40px;
      color: $hiveon-white-color;
      padding: 25px 0;

      @media screen and (max-width: $break-small) {
        font-size: 28px;
        padding: 25px 0 10px 0;
      }
    }
    p {
      font-size: 1.2em;
      line-height: 1.5;
      letter-spacing: 0.01em;
      color: $hiveon-white-color;
      padding-right: 70px;
    }
  }

  &__img {
    width: 65%;
    @media screen and (max-width: $break-small) {
      width: 100%;
      img {
        width: 100%;
      }
    }
    text-align: right;
  }
}
