

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-list {
    tbody {
        border: none;
    }
}

.topic-map {
    border: none;
    border-radius: 3px;
    section {
        border: none;
    }
    .buttons {
        .btn {
            border: none;
            border-radius: 3px;
            box-shadow: none;
            &:hover {
                box-shadow: none;
            }
        }
    }
}

p:has(code) {
    background-color: #21252b;
    padding: 6px 12px;
    border-radius: 2px;

    code {
        font-size: 12px;
        line-height: 20px;
    }
}

.btn {
    border: none;
    color: #e9e9e9;
    font-weight: normal;
    background: $hiveon-dark-light;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.35);
    border-radius: 4px;
    transition: box-shadow .25s linear;
    i {
        color: #e9e9e9;
    }
    &:hover {
        box-shadow: 0 2px 5px rgba(0,0,0, 0.6);
        background-color: $hiveon-dark-lighten;
        color: #fff;
    }
    &:focus {
        outline: none;
    }
}


.d-header {
  background-color: transparent;
  box-shadow: none;
  .contents { margin: 10px 0 }
  .wrap { max-width: 1300px }
  padding-bottom: 10px;

  position: fixed !important;

  height: 52px;
  .title {
    padding: 5px 0;
  }

}

.docked .d-header {
  background-color: rgba(33, 37, 43, 0.9);
}

.hiveon {
  * { box-sizing: border-box }
}

.badge-category-bg {
    border-radius: 2px;
}

.category-description {
    color: #ffffffa6;
}

.topic-list {
    .topic-excerpt {
        color: rgba($hiveon-white-color, .6);
    }

    tbody {
        border: none;
    }
}

.latest-topic-list-item, .topic-list-item {
    border: none;
    background-color: #33373e;
    border-bottom: 2px solid #282c34;
    .main-link .top-row a {
        font-weight: 600;
    }
}

.badge-wrapper.box {
    .badge-category-bg {
        display: block;
        width: 12px;
        height: 12px;
        margin-top: 4px;
        border-radius: 10px;
    }
    .badge-category {
        font-size: 12px;
        font-weight: 400;
        padding-left: 12px;
        color: $hiveon-white-color !important;
    }
}

.table-heading {
    border: none;
}

table.topic-list {
    thead tr {
        border-bottom: none;
    }
}

.nav-pills>li>a {
  background-color: transparent;
  border:1px solid;
  border-color: transparent;
  border-radius: 3px;
  color: #fff;
}
.nav-pills>li>a:hover,.nav-pills>li.active>a{
    color:#fff;
    background-color: transparent;
    border-color: #fff;
}

.select-kit.combo-box.category-drop .category-drop-header,
.combo-box-header.category-drop-header {
    color: #FFF;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.35);
    padding: 5px 5px 7px 10px;
    border-radius: 3px;
}